{{ define "container-form" }}
<div class="form-view">
    {{ template "breadcrumb" dict "Path" .Data.Path "Home" (.T "inventory.home") }}

    <h1>{{ if .Data.Container }}{{.T "inventory.edit_container"}}{{ else }}{{.T "inventory.new_container"}}{{ end }}</h1>

    <form hx-{{ if .Data.Container }}put{{ else }}post{{ end }}="/containers{{ if .Data.Container }}/{{ .Data.Container.ID }}{{ end }}" hx-target="#content">
        <input type="hidden" name="parent_id" value="{{ if .Data.ParentID }}{{ .Data.ParentID }}{{ end }}">

        {{ if .Data.Container }}
        {{ template "fields/color-picker" dict "allColors" (allColors) "selected" .Data.Container.Color }}
        {{ template "fields/icon-picker" dict "allCategories" (iconCategories) "selected" .Data.Container.Icon "firstCategory" "tools" }}
        {{ template "fields/name-desc" dict "name" .Data.Container.Name "description" .Data.Container.Description "nameLabel" (.T "form.name") "descLabel" (.T "form.description") }}
        {{ else }}
        {{ template "fields/color-picker" dict "allColors" (allColors) "selected" "" }}
        {{ template "fields/icon-picker" dict "allCategories" (iconCategories) "selected" "" "firstCategory" "tools" }}
        {{ template "fields/name-desc" dict "name" "" "description" "" "nameLabel" (.T "form.name") "descLabel" (.T "form.description") }}
        {{ end }}

        {{ if .Data.Container }}
    <div class="form-group">
        <label>{{.T "tags.title"}}</label>
        <div id="form-tag-chips-{{ .Data.Container.ID }}">
            {{ if .Data.Container.TagIDs }}
            {{ template "tag-chips" dict "Data" (dict "ObjectID" .Data.Container.ID "ObjectType" "container" "Tags" (resolveTags .Data.Container.TagIDs)) }}
            {{ end }}
        </div>
        <input type="text" class="tag-ac-input tag-field-input" placeholder="{{ .T "tags.search_tags" }}" data-object-id="{{ .Data.Container.ID }}" data-object-type="container">
    </div>
    {{ end }}

        <div class="actions">
            <button type="submit">{{ if .Data.Container }}{{.T "action.save"}}{{ else }}{{.T "inventory.create"}}{{ end }}</button>
            <a href="{{ if .Data.Container }}/containers/{{ .Data.Container.ID }}{{ else }}/ui{{ end }}" hx-get="{{ if .Data.Container }}/containers/{{ .Data.Container.ID }}{{ else }}/ui{{ end }}" hx-target="#content" class="button secondary">{{.T "action.cancel"}}</a>
        </div>
    </form>
</div>
{{ end }}
