{{ define "item-form" }}
<div class="form-view">
    {{ template "breadcrumb" dict "Path" .Data.Path }}

    <h1>{{ if .Data.Item }}Edytuj przedmiot{{ else }}Nowy przedmiot{{ end }}</h1>

    <form hx-{{ if .Data.Item }}put{{ else }}post{{ end }}="/ui/actions/items{{ if .Data.Item }}/{{ .Data.Item.ID }}{{ end }}" hx-target="#content">
        <input type="hidden" name="container_id" value="{{ if .Data.ContainerID }}{{ .Data.ContainerID }}{{ else }}{{ .Data.Item.ContainerID }}{{ end }}">

        {{ if .Data.Item }}
        {{ template "fields/name-desc" dict "name" .Data.Item.Name "description" .Data.Item.Description }}
        {{ else }}
        {{ template "fields/name-desc" dict "name" "" "description" "" }}
        {{ end }}

        <div class="actions">
            <button type="submit">{{ if .Data.Item }}Zapisz{{ else }}Utwórz{{ end }}</button>
            <a href="{{ if .Data.Item }}/ui/items/{{ .Data.Item.ID }}{{ else }}/ui/containers/{{ .Data.ContainerID }}/items{{ end }}" hx-get="{{ if .Data.Item }}/ui/items/{{ .Data.Item.ID }}{{ else }}/ui/containers/{{ .Data.ContainerID }}/items{{ end }}" hx-target="#content" class="button secondary">Anuluj</a>
        </div>
    </form>
</div>
{{ end }}
