{{ define "fields/icon-picker" }}
<div class="form-group">
    <label>Icon</label>
    <div class="icon-picker-categories" data-picker="icon">
        {{ range .allCategories }}
        <div class="icon-picker-category{{ if eq .Name $.firstCategory }} open{{ end }}">
            <div class="icon-picker-category-header">{{ .Name }}</div>
            <div class="icon-picker-grid">
                {{ range .Icons }}
                <button type="button"
                    class="icon-swatch{{ if eq .Name $.selected }} selected{{ end }}"
                    data-value="{{ .Name }}"
                    title="{{ .Name }}">{{ icon .Name }}</button>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <input type="hidden" name="icon" value="{{ .selected }}">
</div>
{{ end }}
