{{ define "container-list-item" }}
<li draggable="true" data-id="{{ .Data.ID }}" data-type="container" class="flash">
    <input type="checkbox" class="bulk-select" data-id="{{ .Data.ID }}" data-type="container">
    <a href="/containers/{{ .Data.ID }}" hx-get="/containers/{{ .Data.ID }}" hx-target="#content" class="container-item" data-drop-id="{{ .Data.ID }}" data-drop-type="container">
        <span class="name"><span class="color-dot"{{ if .Data.Color }} style="background-color: {{ paletteHex .Data.Color }}"{{ end }}></span><span class="entity-icon">{{ if .Data.Icon }}{{ icon .Data.Icon }}{{ else }}{{ icon "package" }}{{ end }}</span>{{ .Data.Name }}</span>
        {{ if .Data.Description }}<span class="desc">{{ .Data.Description }}</span>{{ end }}
    </a>
</li>
{{ end }}
