{{ define "quick-print" }}
<div class="quick-print-view">
    <div class="page-header">
        <h1>{{.T "nav.quick_print"}}</h1>
    </div>

    {{ template "print-form" dict
        "Endpoint" "/adhoc/print"
        "EntityID" ""
        "Mode" "adhoc"
        "Title" ""
        "PrinterLabel" (.T "inventory.printer")
        "TemplateLabel" (.T "inventory.template")
        "Printers" .Data.Printers
        "Schemas" .Data.Schemas
        "ShowDateCheckbox" true
        "DateChecked" false
        "DateLabel" (.T "inventory.print_date")
        "ShowChildrenCheckbox" false
        "ShowTextInput" true
        "TextLabel" (.T "nav.quick_print_text")
        "ButtonText" (.T "action.print")
        "PreviewLabel" (.T "labels.preview")
        "NoPrintersText" (.T "inventory.no_printers")
        "AddPrinterText" (.T "inventory.add_printer")
    }}
</div>
{{ end }}
